#PORT=5000
#MONGODB_URI=mongodb+srv://mealtranslate_db_user:xu4UTo1VCE3pYYe0@campaign-go.blir8xr.mongodb.net/?appName=campaign-go
#JWT_SECRET=e0a39513de90b9027531ab69fbc631391434cd9c369a9bc97b9aec00383d4f7a
#NODE_ENV=development
